<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="60">
    <title>rpi-scan</title>
</head>
<body class="center">

<h3><%= host %></h3>
<h2><a href="http://<%= server %>:<%= port %>"><%= server %>:<%= port %></a></h2>

</body>
</html>
