<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>wifi-scan</title>
</head>
<body class="text-center">

<h3><%= host %></h3>
<h1><a href="http://<%= server %>:3000"><%= server %></a></h1>
<h3><%= client %></h3>
<p><%= date %></p>

</body>
</html>
