<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="60">
    <title>wifi-scan</title>
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>
<body class="center">

<h3><%= host %></h3>
<h1><a href="http://<%= server %>:3000"><%= server %></a></h1>
<h3><%= client %></h3>
<p><%= date %></p>

</body>
</html>
