<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="600">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>Hello, world!</title>
</head>
<body class="text-center">

<h3>host: <%= host %></h3>
<h1>server: <a href="http://<%= server %>:3000"><%= server %></a></h1>
<h3>client: <%= client %></h3>
<p>date: <%= date %></p>

</body>
</html>
